body {
	margin:0;
	background-image:url(images/wood-tabel-gallery.png);
	background-size:cover;
	height:100%;
	transition: opacity 1.5s ease;
	-webkit-user-select: none;
	position: relative;
}
 #logo {
	position: absolute;
	top:-11%;
	left:-6%;
	width: 300px;
}
.background {
	background-color: #947D5D;
	width: 950px;
	height: 600px; 
	margin: 0;
	position: relative;
	top: 60.4%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1 {
	font-family: RiotSquadNF; 
	font-size:40px;
	color:#fefefe;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text { 
	width: 800px;
	height: 600px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p {
	color:#fefefe;
	font-family: RiotSquadNF; 
	font-size: 22px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}
.footer{
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fefefe;
	font-size:12pt;
	z-index: 10
}
.mail-link{
	color: #fefefe
}
.contact-link{
	color: #fefefe
}
.gallery-link{
	color: #fefefe
}
.home-link{
	color: #fefefe
}