body {
	margin:0;
	background-image:url(images/wood-tabel-gallery.png);
	background-size:cover;
	height:100%;
	transition: opacity 1.5s ease;
	-webkit-user-select: none;
	position: relative;
}
#logo {
	position: absolute;
	top:-11%;
	left:-6%;
	width: 300px;
}
.background {
	background-color: #9C7A4B;
	width: 950px;
	height: 600px;
	margin: 0;
	position: relative;
	top: 60.4%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text { 
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: RiotSquadNF; 
	font-size: 45px;
	text-align: center;
	color: #fefefe
}
.mail-link { 
	color: #fefefe
}
.portfolio-link {
	color: #fefefe
}
.footer{
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fefefe;
	font-size:12pt;
}
.about-link{
	color: #fefefe;
}
.gallery-link{
	color: #fefefe;
}
.home-link{
	color: #fefefe;
}